<!-- -*- mode: XML -*- -->
<launch>

    <!--
    plan_topic: The topic that provides the plan as a PoseArray msg
    pose_topic: The topic that provides the current pose of the robot as a PoseStamped msg
    plan_lookahead: If the robot is currently closest to the i-th pose in the plan,
                    then it should navigate towards the (i+plan_lookahead)-th pose in the plan
    translation_weight: How much the error in translation should be weighted in relation
                        to the error in rotation
    rotation_weight: How much the error in rotation should be weighted in relation
                     to the error in translation
    kp: The proportional PID parameter
    ki: The integral PID parameter
    kd: The derivative PID parameter
    error_buff_length: The length of the buffer that is storing past error values
    speed: The speed at which the robot should travel
    -->

    <!--
     Launch a line_follower node here
    -->
    <include file="$(find racecar)/launch/includes/common/map_server.launch"/>
    <include file="$(find planning_utils)/launch/planner_node.launch"/>
</launch>
